body{
	background-color: #1E2C7E;
}
h1{ 	
	color:white;
	text-align:center;
	padding:10px;
}
div {
	background-image: url("https://image.shutterstock.com/image-photo/bloody-grungy-wall-background-600w-325931672.jpg");
	text-align:center;
	width:50%;
	margin-right:25%;
	margin-left:25%;
}
h2{
	color:white;
	text-align:center;
}

img{	margin-left:10%;
	width:80%;

}
